<?xml version="1.0"?>
<model>
  <name>single_inverted_pendulum_description</name>
  <version>1.0</version>
  <sdf version="1.7">robot/visual/single_inverted_pendulum.xacro</sdf>

  <author>
    <name>teacher</name>
    <email>teacher@todo.todo</email>
  </author>

  <description>
    Single Inverted Pendulum Robot Model
  </description>
</model>
